#container {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2017/08/08/e52f262f-05ef-4454-a31a-25545c9750e2/ark-survival-evolved");
    background-size: cover;
}

.box {
    width: 50px;
    height: 50px;
    background-color: green;
    margin-right: 5px;
}

.button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
   
}

.flash{
    width: 50px;
    height: 50px;
    background-color: black;
}